<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <title>NOT FOUND!</title>
  </head>
  <body align='center'>
    <h1>Your searched url is not exist!</h1>
    <p>Come back to <a href="/home">home page</a>.</p>
  </body>
</html>
