.left .plant-title-panel {
  background: green;
  border-radius: 4rem;
  padding: 8% 0;
}

.left .plant-action {
  height: 85%;
  width: 100%;
  overflow-y: auto;
  direction: rtl;
  margin-left: -15%;
  padding-left: 10%;
}

@media only screen and (max-width: 768px) {
  .left .plant-action {
    height: 70%;
  }
}

.plant-action .freq-select {
  padding-left: 15%;
  height: 4rem;
  border-radius: 4rem;
  border: 1px solid gray;
  font-size: 1.5rem;
  background: transparent url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 1rem center;
  background-size: 8px 10px;
  direction: ltr;
}

.plant-action .time-watering {

}

.time-watering input {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.5);
  text-align: center;
}

.time-watering input:first-child {
  border-radius: 4rem 0 0 4rem;
  float: left;
  width: 50%;
}

.time-watering input:last-child {
  border-radius: 0 4rem 4rem 0;
  clear: left;
  width: 50%;
}

.time-watering .region {
  float: none !important;
  border-radius: 4rem !important;
}


.right .overall-element {
  height: 80%;
}
